@import "variable";

.our-company {
	.company-people-count {
		font-size: 40px;
		font-family: 'montserratsemibold';
		margin: 25px 0;
	}
	.media-description {
		color: $nav-link;
		font-size: 14px;
	}
	.testimonial-writer {
		font-size: 24px;
		font-family: 'montserratmedium';
	}
}

// customer service
.customer-service {
	.img-holder {
		width: 64px;
		height: 44px;
		margin-right: 20px;
	}
	.customer-service-modal a{
		color: $nav-link;
		cursor: pointer;
	}

	.form-control-state {
		width: 360px;
	}
}